@import "tailwindcss";
@font-face {
  font-family: "Manrope";
  src: url("../app/assets/fonts/Manrope-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../app/assets/fonts/Manrope-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gloria Hallelujah";
  src: url("../app/assets/fonts/GloriaHallelujah-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: "Manrope", sans-serif;
  --font-gloria: "Gloria Hallelujah", cursive;
}

@layer utilities {
  .font-manrope-regular {
    font-family: var(--font-manrope);
    font-weight: 400;
  }

  .font-manrope-bold {
    font-family: var(--font-manrope);
    font-weight: 700;
  }

  .font-gloria {
    font-family: var(--font-gloria);
  }
  .shadow-inner-top {
    box-shadow: inset 0px -1px 2px rgba(196, 196, 196, 0.25),
      /* ombre en haut */ inset 0px 1px 2px rgba(196, 196, 196, 0.25),
      /* lumière en bas */ 0px 0px 2px rgba(0, 0, 0, 0.25); /* ombre externe douce */
  }
  .shadow-custom {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  }
  .shadow-inner-white {
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.25),
      inset 0px -4px 4px 0px rgba(255, 255, 255, 0.25);
  }
  .bg-gradient-blue-white {
    background: linear-gradient(to bottom, #86c0fa, #ffffff);
  }
  .border-gradient-blue-white {
    position: relative;
    z-index: 0;
  }
  .border-gradient-blue-white::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px; /* épaisseur de la bordure */
    border-radius: inherit;
    background: linear-gradient(to bottom, #86c0fa, rgba(134, 192, 250, 0.2));
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: -1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
