@import "tailwindcss";
@font-face {
  font-family: manrope;
  src: url("../app/assets/fonts/Manrope-Regular.ttf");
}
@font-face {
  font-family: manrope;
  src: url("../app/assets/fonts/Manrope-Bold.ttf");
}
@font-face {
  font-family: gloria;
  src: url("../app/assets/fonts/GloriaHallelujah-Regular.ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: "Manrope", sans-serif;
  --font-gloria: "Gloria Hallelujah", cursive;
}

@layer utilities {
  .shadow-inner-top {
    box-shadow: inset 0px -1px 2px rgba(196, 196, 196, 0.25),
      /* ombre en haut */ inset 0px 1px 2px rgba(196, 196, 196, 0.25),
      /* lumière en bas */ 0px 0px 2px rgba(0, 0, 0, 0.25); /* ombre externe douce */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
